<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="shortcut icon" href="/img/ChiLiSkiLogo-removebg-preview.png" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    {{> header}}
    
    {{{body}}}

    {{> footer}}
    <script src="/js/main.js"></script>
</body>
</html>