<footer>
    <div class="container-footer">
        <p>Điện thoại: 0837994587</p>
        <p>Email: datb2012193@student.ctu.edu.vn</p>
        <p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-youtube"></i>
        </p>
    </div>
    <p class="title-footer">&copy; 2023 CLS. Nơi phát triển cho trẻ.</p>
</footer>