<main style="height: 62vh;">
            <div class="container-home">
                <div class="content-home">
                    <div class="title-home">
                        <p>Nơi dạy trẻ kỹ năng sống.</p>
                        <p>Giúp trẻ có được những kỹ năng xử lí tình huống trong lúc nguy hiểm giữa thế giới bao la rộng lớn.</p>
                        <a href="/course" class="button-learn-now">Học ngay nào <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="content-home">
                    <img class="img-home" src="/img/ChiLiSkiHomepage-removebg-preview.png" alt="">
                </div>
                
            </div>
</main>